input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  cursor: pointer;
}

input[type="radio"] + label span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: solid 1px #cccccc;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  padding: 0;
  position: relative;
}

input[type="radio"] + label span:after {
  content: "";
  background-color: white;
  position: absolute;
  display: block;
  top: 1px;
  left: 1px;
  width: 8px;
  height: 8px;
  border-radius: 8px;
}

/*
 * The default is the CHRY color
 */
input[type="radio"]:checked + label span:after {
  background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-color: #009bca;
  /* variations after are for each of the individual brands */
}
.dodge input[type="radio"]:checked + label span:after {
  background-color: #d20f06;
}
.jeep input[type="radio"]:checked + label span:after {
  background-color: #ffb302;
}
.ram input[type="radio"]:checked + label span:after {
  background-color: #652316;
}
.fiat input[type="radio"]:checked + label span:after {
  background-color: #941711;
}
