/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(../fonts/calendas-plus/hinted-stylesheet.css);
@import url(../fonts/mardian/stylesheet.css);
/* line 6, ../sass/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/reset.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../sass/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 50, ../sass/reset.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Mixins - to be put into a seperate file later */
/* line 17, ../sass/style.scss */
html, body {
  height: 100%;
  /* Let's turn off selecting text */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 30, ../sass/style.scss */
body {
  /* colors */
  /* accent colors */
  color: black;
  padding: 0px;
  line-height: 1.2;
  font-family: "hinted-Calendas-Plus", "Times New Roman", "Times Roman", serif;
  padding-top: 30px;
  background: url("../images/page.jpg");
  /* shared styles */
  /*
   * counter stuff
   */
}
/* line 46, ../sass/style.scss */
body #lightboxOverlay, body #lightbox {
  -webkit-transform: translateZ(0);
}
@media (min-width: 1000px) {
  /* line 30, ../sass/style.scss */
  body {
    padding: 0px;
    background-color: #ffffff;
    background-image: url("../images/photos/backgrounds/wine-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 100%;
  }
}
/* line 70, ../sass/style.scss */
body nav ul {
  position: fixed;
  top: 0;
  left: 0;
  background: #890c58;
  color: white;
  width: 100%;
  padding: 10px;
}
@media (min-width: 1000px) {
  /* line 70, ../sass/style.scss */
  body nav ul {
    position: static;
    height: initial;
    background: rgba(255, 255, 255, 0.8);
    color: #890c58;
    padding: 0;
  }
}
/* line 89, ../sass/style.scss */
body nav ul li {
  display: inline-block;
  width: 13%;
  text-align: center;
}
@media (min-width: 1000px) {
  /* line 89, ../sass/style.scss */
  body nav ul li {
    width: 13%;
  }
}
/* line 99, ../sass/style.scss */
body nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  /*
  * Tells the browser to use the following variants of the font:
  * - small caps (see below for CSS fix for old IE)
  * - ligatures
  * - discretionary ligatures
  * - swash characters
  * - use the font's kerning.
  */
  -ms-font-feature-settings: "smcp" 1, "liga" 1, "dlig" 1, "swsh" 1, "kern" 1;
  -moz-font-feature-settings: "smcp" 1, "liga" 1, "dlig" 1, "swsh" 1, "kern" 1;
  -webkit-font-feature-settings: "smcp" 1, "liga" 1, "dlig" 1, "swsh" 1, "kern" 1;
  font-feature-settings: "smcp" 1, "liga" 1, "dlig" 1, "swsh" 1, "kern" 1;
}
/* line 114, ../sass/style.scss */
body.ie9down body nav ul li a {
  /*
  * older IE doesn't support font-feature-settings, so we it to use the old
  * way to do small caps. Note this is not the best way to do small caps.
  * but it's the best it can do
  */
  font-variant: small-caps;
}
@media (min-width: 1000px) {
  /* line 99, ../sass/style.scss */
  body nav ul li a {
    font-size: 15px;
    color: #890c58;
  }
}
/* line 130, ../sass/style.scss */
body nav ul li a:hover {
  color: #00becc;
}
/* line 141, ../sass/style.scss */
body #book > div {
  /*
  * Original: http://upload.wikimedia.org/wikipedia/commons/f/f2/Goethe_die_wahlverwandtschaften_erstausgabe_1809.jpg
  * I cut each half to be 512x700.
  */
  background: url("../images/page.jpg");
  padding-top: 30px;
  padding: 10px;
}
@media (min-width: 1000px) {
  /* line 141, ../sass/style.scss */
  body #book > div {
    background: none;
  }
}
/* line 153, ../sass/style.scss */
body #book > div.no-mobile {
  display: none;
}
/* line 158, ../sass/style.scss */
body #book > div.hide {
  display: none;
}
@media (min-width: 1000px) {
  /* line 141, ../sass/style.scss */
  body #book > div {
    padding: 0;
  }
  /* line 171, ../sass/style.scss */
  body #book > div.no-mobile {
    display: initial;
  }
}
/* line 177, ../sass/style.scss */
body #book h1 {
  font-family: 'MardianDemo', cursive;
  -ms-font-feature-settings: "dlig" 1;
  -moz-font-feature-settings: "dlig" 1;
  -webkit-font-feature-settings: "dlig" 1;
  font-feature-settings: "dlig" 1;
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
  color: #890c58;
}
/* line 185, ../sass/style.scss */
body #book h1.name {
  -ms-font-feature-settings: "dlig" 0;
  -moz-font-feature-settings: "dlig" 0;
  -webkit-font-feature-settings: "dlig" 0;
  font-feature-settings: "dlig" 0;
  font-size: 50px;
}
/* line 191, ../sass/style.scss */
body #book h1.cover {
  margin-top: 50px;
}
/* line 195, ../sass/style.scss */
body #book h1.center-title {
  font-size: 85px;
  text-shadow: 1px 1px 0 #f7f7ef, 2px 2px 0 #8a8d8f;
}
@media (min-width: 1000px) {
  /* line 195, ../sass/style.scss */
  body #book h1.center-title {
    margin-top: 180px;
  }
}
@media (min-width: 321px) {
  /* line 177, ../sass/style.scss */
  body #book h1 {
    font-size: 55px;
  }
}
/* line 209, ../sass/style.scss */
body #book h2.title {
  color: #890c58;
  -ms-font-feature-settings: "smcp" 1;
  -moz-font-feature-settings: "smcp" 1;
  -webkit-font-feature-settings: "smcp" 1;
  font-feature-settings: "smcp" 1;
  font-size: 15px;
  text-align: center;
}
/* line 217, ../sass/style.scss */
body #book p {
  max-width: 390px;
  width: 100%;
  margin: 10px auto 10px auto;
  font-size: 15px;
}
@media (min-width: 321px) {
  /* line 217, ../sass/style.scss */
  body #book p {
    /* max-width: initial;
    width: initial;  */
  }
}
/* line 227, ../sass/style.scss */
body #book p.center {
  text-align: center;
}
/* line 233, ../sass/style.scss */
body #book .date {
  font-family: 'MardianDemo', cursive;
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
  line-height: 1.1;
  color: #890c58;
}
@media (min-width: 321px) {
  /* line 233, ../sass/style.scss */
  body #book .date {
    font-size: 50px;
  }
}
/* line 246, ../sass/style.scss */
body #book .address {
  -moz-transform: perspective(1px) skewX(-10deg);
  -ms-transform: perspective(1px) skewX(-10deg);
  -webkit-transform: perspective(1px) skewX(-10deg);
  transform: perspective(1px) skewX(-10deg);
  text-align: center;
  margin: 30px 0;
  /* Let's turn off selecting text */
  -webkit-touch-callout: initial;
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}
/* line 262, ../sass/style.scss */
body #book .prev, body #book .next {
  display: none;
}
/* line 266, ../sass/style.scss */
body #book iframe {
  display: block;
  background: rgba(255, 255, 255, 0.4) url("../images/icons/spinner.gif") center center no-repeat;
  margin: 0 auto;
}
/* line 273, ../sass/style.scss */
body #book img.page-width {
  max-width: 390px;
  width: 100%;
  display: block;
  margin: 0 auto;
}
/* line 280, ../sass/style.scss */
body #book table {
  margin: 20px auto 40px auto;
}
/* line 284, ../sass/style.scss */
body #book table tr, body #book table td {
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
}
/* line 290, ../sass/style.scss */
body #book table tr:first-child, body #book table tr:last-child, body #book table tr:last-child td {
  border: none;
}
/* line 298, ../sass/style.scss */
body #book table thead tr:first-child {
  border-bottom: solid 3px #890c58;
}
/* line 303, ../sass/style.scss */
body #book table th {
  vertical-align: bottom;
  border: none;
}
/* line 309, ../sass/style.scss */
body #book table tr th:first-child + th, body #book table tr th:first-child + th + th {
  width: 50px;
}
/* line 314, ../sass/style.scss */
body #book table th, body #book table td {
  padding: 5px 10px;
}
/* line 319, ../sass/style.scss */
body #book table tr td {
  text-align: center;
  font-size: 0.9em;
}
/* line 324, ../sass/style.scss */
body #book table.guests input {
  width: 220px;
}
/* line 329, ../sass/style.scss */
body #book form {
  width: 390px;
  margin: 0 auto;
}
/* line 334, ../sass/style.scss */
body #book form > div {
  margin: 20px 0;
}
/* line 338, ../sass/style.scss */
body #book form div.email {
  margin-bottom: 20px;
}
/* line 342, ../sass/style.scss */
body #book form label > span {
  width: 200px;
  text-align: right;
  margin-right: 10px;
}
/* line 348, ../sass/style.scss */
body #book form input[type="number"] {
  margin-left: 4px;
}
/* line 352, ../sass/style.scss */
body #book form input[type="submit"] {
  display: block;
  margin: 0 auto;
}
/* line 357, ../sass/style.scss */
body #book form label.full-width > span,
body #book form label.full-width > div,
body #book form textarea {
  width: 100%;
  text-align: left;
}
/* line 364, ../sass/style.scss */
body #book form textarea {
  height: 100px;
}
/* line 368, ../sass/style.scss */
body #book form label > span, body #book form label > div {
  display: inline-block;
}
/* line 376, ../sass/style.scss */
body #book form select {
  width: 120px;
}
@media (min-width: 1000px) {
  /* line 329, ../sass/style.scss */
  body #book form {
    width: auto;
    margin: 0;
  }
}
/* line 388, ../sass/style.scss */
body #book ul.photos li {
  display: inline-block;
  margin: 0 0 10px 10px;
}
/* line 393, ../sass/style.scss */
body #book ul.photos li, body #book ul.photos img {
  width: 114px;
  height: 114px;
}
@media (min-width: 1000px) {
  /* line 30, ../sass/style.scss */
  body {
    /* Nav */
  }
  /* line 404, ../sass/style.scss */
  body p {
    margin-bottom: 1em;
    width: auto;
    margin: initial;
  }
  /* line 415, ../sass/style.scss */
  body nav ul {
    display: block;
    padding: 10px 0;
  }
  /* line 427, ../sass/style.scss */
  body #book-container {
    opacity: 0;
    /* @include transform(translateZ(0) scale(0.90));
    @include transform-origin(50%, 0); */
    -moz-transition: 1s opacity ease-in;
    -o-transition: 1s opacity ease-in;
    -webkit-transition: 1s opacity ease-in;
    transition: 1s opacity ease-in;
    /*
    * Original: http://upload.wikimedia.org/wikipedia/commons/f/f2/Goethe_die_wahlverwandtschaften_erstausgabe_1809.jpg
    * I cut each half to be 512x700.
    */
    background-image: url("../images/book-cover-left.png"), url("../images/book-cover-right.png");
    background-position: left top, right top;
    background-repeat: no-repeat;
    width: 960px;
    height: 700px;
    margin: -20px auto 0 auto;
    overflow: hidden;
    position: relative;
  }
  /* line 453, ../sass/style.scss */
  body #book {
    width: 860px;
    height: 650px;
    left: 62px;
    top: 26px;
    position: relative;
    /* Book styles */
  }
}
@media (min-width: 1000px) and (min-width: 1000px) {
  /* line 453, ../sass/style.scss */
  body #book {
    background: url("../images/page.jpg");
  }
}
@media (min-width: 1000px) {
  /* line 471, ../sass/style.scss */
  body #book > .turn-page-wrapper[page="1"] .turn-page, body #book > .turn-page-wrapper[page="3"] .turn-page, body #book > .turn-page-wrapper[page="5"] .turn-page, body #book > .turn-page-wrapper[page="7"] .turn-page, body #book > .turn-page-wrapper[page="9"] .turn-page {
    box-shadow: 10px 0 10px rgba(200, 200, 200, 0.5) inset;
  }
  /* line 491, ../sass/style.scss */
  body #book img.page-width {
    margin: 10px 0;
  }
  /* line 497, ../sass/style.scss */
  body #book .turn-page {
    background: url("../images/page.jpg");
    border: solid 1px #cccccc;
  }
  /* line 503, ../sass/style.scss */
  body #book .turn-page .page-container {
    padding: 20px;
    position: relative;
    height: 100%;
  }
}
@media (min-width: 1000px) and (min-width: 1000px) {
  /* line 509, ../sass/style.scss */
  body #book .turn-page .page-container .prev, body #book .turn-page .page-container .next {
    display: block;
    bottom: 20px;
    position: absolute;
    text-decoration: none;
    display: block;
    height: 39px;
    line-height: 39px;
    color: #890c58;
  }
  /* line 521, ../sass/style.scss */
  body #book .turn-page .page-container .prev:hover, body #book .turn-page .page-container .next:hover {
    color: #00becc;
    cursor: pointer;
  }
}
@media (min-width: 1000px) and (min-width: 1000px) {
  /* line 528, ../sass/style.scss */
  body #book .turn-page .page-container .prev {
    left: 20px;
    padding-left: 85px;
    background: url("../images/icons/pointing-hand-left.png") left center no-repeat;
  }
  /* line 534, ../sass/style.scss */
  body #book .turn-page .page-container .next {
    right: 20px;
    padding-right: 85px;
    background: url("../images/icons/pointing-hand-right.png") right center no-repeat;
  }
}
@media (min-width: 1000px) {
  /* line 541, ../sass/style.scss */
  body #book .turn-page .page-container iframe {
    background: rgba(255, 255, 255, 0.4) url("../images/icons/spinner.gif") center center no-repeat;
  }
}
/* line 555, ../sass/style.scss */
body .counter.is-countdown {
  margin: 0 auto;
  width: 200px;
  background-color: transparent;
  border: none;
}
/* line 561, ../sass/style.scss */
body .counter.is-countdown .countdown-period {
  font-size: 10px;
}

/* line 569, ../sass/style.scss */
body.loaded #book-container {
  opacity: 1;
}
