@import "breakpoints.scss";
@import "compass/css3/transform";
@import "compass/css3/text-shadow";
@import "reset.scss";
@import "../fonts/calendas-plus/hinted-stylesheet.css";
@import "../fonts/mardian/stylesheet.css"; 

/* Mixins - to be put into a seperate file later */
@mixin font-feature-settings($list...) {
   -ms-font-feature-settings:    $list;
   -moz-font-feature-settings:   $list;
   -webkit-font-feature-settings: $list;
   font-feature-settings:       $list;
}

html, body {
   height: 100%;
   
   /* Let's turn off selecting text */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


body {
  
  #lightboxOverlay, #lightbox {
    -webkit-transform: translateZ(0);
  }
   
   padding: 0px;
   line-height: 1.2;
   font-family: "hinted-Calendas-Plus", "Times New Roman", "Times Roman", serif;
   padding-top: 30px;
   background: url('../images/page.jpg');
   @include breakpoint($bp-desktop, $no-query: '.no-mqs') {
      padding: 0px;
      background: #ffffff;
   }
   
   /* shared styles */
   nav {
      
      
      
      ul {
         position: fixed;
         top: 0;
         left: 0;
         
         background: black;
         color: white;
         width: 100%;
         padding: 10px;
         
         @include breakpoint($bp-desktop, $no-query: '.no-mqs') {
            position: static;
            
            height: initial;
            background: white;
            color: black;
            padding: 0;
         }
         
         li {
            display: inline-block;
            width: 14%;
            text-align: center;
               
            @include breakpoint($bp-desktop, $no-query: '.no-mqs') {
               width: 14%; 
            }   
             
            
            a {
               text-decoration: none;
               color: white;
               font-size: 15px;
               
               /*
               * Tells the browser to use the following variants of the font:
               * - small caps (see below for CSS fix for old IE)
               * - ligatures
               * - discretionary ligatures
               * - swash characters
               * - use the font's kerning.
               */
               @include font-feature-settings('smcp' 1, 'liga' 1, 'dlig' 1, 'swsh' 1, 'kern' 1);
               
               body.ie9down & {
                  /*
                  * older IE doesn't support font-feature-settings, so we it to use the old
                  * way to do small caps. Note this is not the best way to do small caps.
                  * but it's the best it can do
                  */
                  font-variant: small-caps;
                  
               }
               
               @include breakpoint($bp-desktop, $no-query: '.no-mqs') {
                 font-size: 20px;
                 color: black;
               }
            }
            
            
         }
      }
      
      
   }
   #book {
      
      & > div {
         /*
         * Original: http://upload.wikimedia.org/wikipedia/commons/f/f2/Goethe_die_wahlverwandtschaften_erstausgabe_1809.jpg
         * I cut each half to be 512x700.
         */
         background: url('../images/page.jpg');
         padding-top: 30px;
         
         @include breakpoint($bp-desktop, $no-query: '.no-mqs') {
            background: none;
         }
          
         &.no-mobile {
           display: none;
           
         }
         
         &.hide {
           display: none;
         }
         
         padding: 10px;
         
         
         
         
         @include breakpoint($bp-desktop, $no-query: '.no-mqs') {
           
            padding: 0;
            
            &.no-mobile {
               display: initial;
            }
         }
      }
      
      h1 {
         font-family: 'MardianDemo', cursive;
         @include font-feature-settings('dlig' 1);
         font-size: 30px;
         text-align: center;
         margin-bottom: 10px;
         
         &.name {
           @include font-feature-settings('dlig' 0);
           font-size: 50px;
         }
         
         &.cover {
            margin-top: 50px;
         }
         
         &.center-title {
           margin-top: 180px;
         }
         
         @include breakpoint($bp-tablet, $no-query: '.no-mqs') {
            font-size: 55px; 
         }
      }
      
      p {
         max-width: 390px;
         width: 100%;
         margin: 10px auto 10px auto;
         font-size: 15px;
         @include breakpoint($bp-tablet, $no-query: '.no-mqs') {
            /* max-width: initial;
            width: initial;  */
         }
      }
   
      
      .date {
         font-family: 'MardianDemo', cursive;
         font-size: 30px;
         text-align: center;
         margin-bottom: 10px;
         line-height: 1.1;
         
         @include breakpoint($bp-tablet, $no-query: '.no-mqs') {
            font-size: 50px;
         }
      }
      
      .address {
        @include transform(perspective(1px)  skewX(-10deg));
        text-align: center;
        margin: 30px 0;
        
        /* Let's turn off selecting text */
        -webkit-touch-callout: initial;
        -webkit-user-select: initial;
        -khtml-user-select: initial;
        -moz-user-select: initial;
        -ms-user-select: initial;
        user-select: initial;
      }
      
      img.page-width {
         max-width: 390px;
         width: 100%;
         display: block;
         margin: 0 auto;
      }
      
      table.rates {
        
        margin: 20px 0 40px 0;
        
        & tr, & td {
          border-top: solid 1px #ccc;
          border-bottom: solid 1px #ccc;
        }
        
        
        & tr:first-child,
        & tr:last-child,
        & tr:last-child td 
         {
          border: none;
        }
        
        
        & tr:first-child ,
        & tr:first-child th
         {
          border-bottom: solid 3px black;
        }
        
        & th {
          vertical-align: bottom;
          border: none;

        } 
        
        & tr th:first-child + th,
        & tr th:first-child + th + th{
          width: 50px;
        }       
        
        & th,
        & td {
          padding: 5px 10px;
        }
        
        & tr td {
          text-align: center;
          font-size: 0.9em;
        }
      }
      
      form {
        
         width: 390px;
         margin: 0 auto;
         
         & > div {
            margin: 20px 0;
         }
         
         label > span {
            width: 200px;
            text-align: right;
            margin-right: 10px;
         }
         
         input[type="number"] {
            margin-left: 4px;
         }
         
         input[type="submit"] {
           display: block;
           margin: 0 auto;
         }
         
         label.full-width > span,
         label.full-width > div,
         textarea {
            width: 100%;
            text-align: left;
         }
         
         textarea {
            height: 100px;
         }
         
         label > span, label > div{
            display: inline-block;
         }
         
         
         
         
         
         select {
            width: 120px;
         }
         
         @include breakpoint($bp-desktop, $no-query: '.no-mqs') {
           width: auto;
           margin: 0;
         }
      }
      
      ul.photos {
          $thumb_size: 114px;
          li {
              display: inline-block;
              margin: 0 0 10px 10px;
          }
          
          li, img {
              width: $thumb_size;
              height: $thumb_size;
          }
        }
      
      
   }
      
   @include breakpoint($bp-desktop, $no-query: '.no-mqs') {
     
      p {
         margin-bottom: 1em;
         width: auto;
         margin: initial;
      
      }
      
      $page-shadow: rgba(200, 200, 200, 0.5);
      /* Nav */
      nav {
         
         ul {
            display: block;
            
            padding: 10px 0;
            
            
            
            
            
         }
      }
      
      #book-container {
         
         
         /*
         * Original: http://upload.wikimedia.org/wikipedia/commons/f/f2/Goethe_die_wahlverwandtschaften_erstausgabe_1809.jpg
         * I cut each half to be 512x700.
         */
         background-image: url('../images/book-cover-left.png'),url('../images/book-cover-right.png');
         background-position: left top, right top;
         background-repeat: no-repeat;
         width: 960px;
         height: 700px;
         margin: -20px auto 0 auto;
         overflow: hidden;
         position: relative;
         
         
      }
      
      #book{
         width: 860px;
         height: 650px;
          
         @include breakpoint($bp-desktop, $no-query: '.no-mqs') {
             background: url('../images/page.jpg');
         }
         
         left: 62px;
         top: 26px;
         position: relative;
         
         & > .turn-page-wrapper[page="1"],
         & > .turn-page-wrapper[page="3"],
         & > .turn-page-wrapper[page="5"],
         & > .turn-page-wrapper[page="7"],
         & > .turn-page-wrapper[page="9"]
         {
            .turn-page {
               box-shadow: 10px 0 10px $page-shadow inset;
            }
         }
         
         & > .turn-page-wrapper[page="2"],
         & > .turn-page-wrapper[page="4"],
         & > .turn-page-wrapper[page="6"],
         & > .turn-page-wrapper[page="8"],
         & > .turn-page-wrapper[page="10"]
         {
            .turn-page {
               
            }
         }
         
         
         
         
         
         img.page-width {
            margin: 10px 0;
         }
         
         
         
         .turn-page{
            background: url('../images/page.jpg');
            border: solid 1px #cccccc;
            $padding: 20px;
            
            
            .page-container {
               padding: 20px;
               position: relative;
               height: 100%;
              
               
               .prev, .next {
                   bottom: $padding;
                   position: absolute;
                   text-decoration: none;
                   display: block;
                   height: 39px;
                   line-height: 39px;
                   
                   
                   &:hover {
                     color: red;
                     
                   }
               }
               
               .prev {
                   left: $padding;
                   padding-left: 85px;
                   background: url('../images/icons/pointing-hand-left.png') left center no-repeat;
               }
               
               .next {
                  right: $padding;
                  padding-right: 85px;
                  background: url('../images/icons/pointing-hand-right.png') right center no-repeat;
               }
               
               iframe {
                 background: rgba(255, 255, 255, 0.4) url('../images/icons/spinner.gif') center center no-repeat;
               }
            }
         }
      }
      
   }
   
   
   /*
    * counter stuff
    */
   
   .counter.is-countdown {
     margin: 0 auto;
     width: 200px;
     background-color: transparent;
     border: none;
     
     .countdown-period {
       font-size: 10px;
     }
   }

   
}